.container2{
    text-align: center;
    
    
    margin-bottom: auto;
    display: grid;
    grid-template-columns: 40% 60%;
}

.cDer{
    margin-right: 10px;
    
}

.cIzq{
    /* height: 500px;
    overflow-x:visible;
    overflow-y: scroll; */
    margin-left: 100px;
}

.form3 {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 550px;
    padding: 20px;
    width: 320px;
}

